@import "tailwindcss";

/* Your font declarations... */


@font-face {
  font-family: "plusSans";
  src: url("./assets/fonts/plusJakartaSans/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "beVietnam";
  src: url("./assets/fonts/beVietnam/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "productSans";
  src: url("./assets/fonts/productSans/ProductSans-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}